@model FishMarket.Model.Entities.Fish
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h3>Edit Fish</h3>
<div class="container-fluid">
    <div class="row">
        <a href="/Fish/Index" class="btn btn-primary pull-right"><< Fish List</a>
    </div>
</div>
<br />
@using (Html.BeginForm("Edit", "Fish", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="panel-body">
        @Html.HiddenFor(m => m.FishId)
        <div class="form-group">
            <label>Name</label>
            @Html.TextBox("Name", Model.Name, new { @class = "form-control" })
            @Html.ValidationMessage("Name")
        </div>
        <div class="form-group">
            <label>Price</label>
            @Html.TextBox("Price", Model.Price.ToString().Replace(",","."), new { @class = "form-control", @type = "number", @step="0.01" })
            @Html.ValidationMessage("Price")
        </div>
        <div class="form-group">
            <div style="position: relative;">
                <label>Image</label>
                <a class='btn' href='javascript:;'>
                    Choose File...
                    <input type="file" name="Image" size="40"
                           style="position: absolute; z-index: 2; top: 0; left: 0; filter: alpha(opacity=0); opacity: 0; background-color: transparent; color: transparent;"
                           onchange='$("#upload-file-info").html($(this).val());'>
                </a>
                <span class='label  label-info' id="upload-file-info"></span>
            </div>
            @if (Model.ImageData == null)
            {
                <div class="form-control-static">No Image</div>
            }
            else
            {
                <img class="img-thumbnail" width="150" height="150" src="@Url.Action("GetImage", "Fish", new { Model.FishId })" />
                @Html.ActionLink("Remove Image", "RemoveImage", new { Model.FishId }, new { @class = "btn btn-danger" })
            }
        </div>
    </div>
    <div class="modal-footer">
        <a href="/Fish/Index" class="btn btn-danger">Cancel</a>
        <input type="submit" value="Save" class="btn btn-success" />
    </div>
}

